@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* * {padding: 0; margin: 0; box-sizing: box-shadow; font-family: 'Alata', sans-serif;} */

@font-face {
	font-family: pcdown;
	src: url('../fonts/pricedownbl.otf');
}

.menu {
	font-size: 18px;
	min-width: 400px;
	box-shadow: 0px 0px 45px 0px #000;   
	color: #fff;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-image: url();
	text-align: center;
	font-size: 30px;
	height: 70px;
	font-family: 'pcdown';
	font-weight: 200;
	line-height: 3.8vw;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
}

.menu .menu-items .menu-item {
	height: 50px;
	display: block;
	background-color: rgba(0, 0, 0, 0.65);
	font-family: 'Alata', sans-serif;
	height: 35px;
	line-height: 33px;
	font-size: .9vw;
	color: #FFF;
	text-align: left;
	padding-left: .5vw;
}

.menu .menu-items .menu-item.selected {
	background-color: rgba(55, 55, 55, 0.433);
}